<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class='header'>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
    	<li class="name">
      	<h1><a href="#"><img src=http://alienrescue.edb.utexas.edu/template/img/AR_logo.png></img></a></h1>
    	</li>
 	</ul>
  
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Quick Start</a>
        <ul class="dropdown">
          <li><a href="#">Tool Description</a></li>
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Code for Budget</a></li>
          <li><a href="#">Documents to Print</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">How to teach</a>
        <ul class="dropdown">
          <li><a href="#">Lesson Plans</a></li>
          <li><a href="#">Teaching Strategies</a></li>
          <li><a href="#">Program Goals and Contents</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav>    
</div>

<!-- Side Nav -->
<div class="row">
    <div class="small-3 columns">
        <div class="hide-for-small">
            <div class="sidebar">
				<ul class="side-nav">
 					<li>QUICK START</li>
 					<li><a href="#">Tool Description</a></li>
			    	<li><a href="#">Solutions</a></li>
  					<li><a href="#">Code for Budget</a></li>
  					<li><a href="#">Documents to Print</a></li>
				</ul>
				
				<ul class="side-nav">
 					<li>HOW TO TEACH</li>
 					<li><a href="#">Lesson Plans</a></li>
			    	<li><a href="#">Teaching Strategies</a></li>
  					<li><a href="#" data-dropdown="hover1" data-options="is_hover:true">Program Goals and Contents</a>
						<ul id="hover1" class="f-dropdown" data-dropdown-content>
  						<li><a href="#">Contents</a></li>
				  	    <li><a href="#">Goals</a></li>
  						<li><a href="#">Standards</a></li>
  					</li>
  					
				</ul>
			</div>
		</div>
	</div>


<div class="small-9 columns">
<dl class="accordion" data-accordion>

  <dd>
    <a href="#panel2">Lesson plan - Day 1</a>
    <div id="panel2" class="content">
    Main Task: Watch the Opening Scenario and become acquainted with the virtual environment.<br>
    Class Discussion<br>
You may be tempted to provide “warm up” activities for students, such as telling them about the problem presented in Alien Rescue or discussing relevant vocabulary. Resist. Problem-based learning begins with the problem presentation. Students must sort the problem situation out for themselves and will acquire vocabulary naturally as they attempt to communicate about the problem.
Alien Rescue begins with students viewing the opening scenario. This can be accomplished in three ways:<br>


    </div>
  </dd>
  <dd>
    <a href="#panel3">Accordion 3</a>
    <div id="panel3" class="content">
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </dd>
</dl>
	<%= yield %>
</div>
</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>