<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class='header'>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
    	<li class="name">
      	<h1><a href="#"><img src=http://alienrescue.edb.utexas.edu/template/img/AR_logo.png></img></a></h1>
    	</li>
 	</ul>
  
  <section class="top-bar-section">
    <ul class="right">
    	<li class = "divider"></li>
    	<li>
        <a href="/" class="">HOME</a>
        </li>
    	<li class = "divider"></li>
    	<li>
        <a href="mailto:mliu@austin.utexas.edu" class="">CONTACT US</a>
        </li>
    	<!--<li class="has-form">
  		<a href="mailto:mliu@austin.utexas.edu" class="small button">Contact Us</a>
		</li>-->
    </ul> 

  </section>
</nav>    
</div>

<!-- Side Nav -->
<div class="row">
    <div class="small-3 columns">
        <div class="hide-for-small">
            <div class="sidebar">
				<ul class="side-nav">
 					<li>QUICK START</li>
 					<li><a href="/tools">Tool Description</a></li>
			    	<li><a href="/solutions">Solutions</a></li>
  					<li><a href="/code-for-budget">Code for Budget</a></li>
  					<li><a href="/print">Documents to Print</a></li>
				</ul>
				
				<ul class="side-nav">
 					<li>HOW TO TEACH</li>
 					<li><a href="/lesson-plans">Lesson Plans</a></li>
			    	<li><a href="/strategies">Teaching Strategies</a></li>
			    	<li><a href="/program-goals">Program Goals and Contents</a></li>
  					
				</ul>
			</div>
		</div>
	</div>


<div class="small-9 columns"><div class="paragraph">
	<%= yield %>
</div></div>
</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>